<!DOCTYPE html>
<html>
<head>
  <link href='/css/profile.css' rel='stylesheet'>
  <link
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      rel="stylesheet"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
</head>
<body>
  <div id="div-container">
    {{>navbar}}

    <div id="content-page">

      <h1>My Task</h1>
      <hr>
      <br>
      <form style='padding:10px;' >
        <label>Description</label><input id="desc-input" name='description' autocomplete="off" required>
        <label>Completed</label><input id="comp-input" name='completed' autocomplete="off" type="text" list="boolean">
        <datalist id="boolean">
        <option value="true">
        <option value="false">
      </datalist>
        <input type="submit" value="Create">

      </form>
      <div>
      
      <input id='position' type='number'placeholder='position'>
      <button id='delete'>Delete</button>
      <button id='update'>Update</button>
      <button id='logout'>Log out</button>
      <button id='delete-account'>Delete Account</button>
    </div>
    <label>Sort By Completed: </label> <input id="sort-input" autocomplete="off" type="text" list="boolean">
    <datalist id="boolean">
    <option value="true">
    <option value="false">
  </datalist>
  <!-- <button id='sort'>Sort</button> -->
      <div id='tasks'>
        <ul id='ul'>
          <!-- <span id='checkedbox'><i class="far fa-check-square"></i></span> -->
        </ul>
      </div>


    </div>


  </div>



  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src ="/js/mytask.js"></script>
</body>
</html>
