<!DOCTYPE html>
<html>
  <head>
    <link href="/css/register.css" rel="stylesheet" />
  </head>
  <body>
    <div class="centered-form">
      <div class="centered-form__box">
      <h1>Task-App</h1>
    <form >

      <label>Name</label> <input id='name-input'  name='name' type="text" required autocomplete="off" /><br>
      <label>Email</label> <input id='email-input'  name='email' type="email" required /><br>
      <label>Age</label> <input id='age-input'  name='age' type="number" autocomplete="off" />
      <label>Password</label> <input id='password-input'  name='password' type="password" required />

      <input id="submit" type="submit" value="Sign up" >
      <p>Already have an account? <a href='/signin'>Sign in</a></p>
    </form>
  </div>
  </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='/js/register.js'></script>
  </body>
</html>
