<!DOCTYPE html>
<html>
  <head>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <form >
      <h1>Task-App</h1>
      <label>Email</label> <input name="email" placeholder="Email" required/>
      <label>Password</label> <input name="password" placeholder="Password" required type="password"/>

      <input id='input-submit' value="Sign in" type="submit">
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='/js/login.js'></script>
  </body>
</html>
