<!DOCTYPE html>
<html>
<head>
  <link href='/css/profile.css' rel='stylesheet'>
</head>
<body>
  <h1>Profile</h1>
  <h2>My Task</h2>

  <form >
    <label>Description</label><input id="desc-input" name='description' required>
    <label>Completed</label><input id="comp-input" name='completed' type="text">
    <input type="submit" value="Create">
  </form>
  <div id='tasks'>
    <ul>
    </ul>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src ="/js/profile.js"></script>
</body>
</html>
