body {
  margin: 0;
}

input {
  font-size: 14px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}
.centered-form {
  background: #eb4d4b;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-form__box {
  box-shadow: 0px 0px 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 24px;
  width: 250px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}

#input-submit {
  cursor: pointer;
  padding: 12px;
  background: #2c3e50;
  border: none;
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
}

#input-submit:hover {
  background: #34495e;
}

#register-account {
  color: black;
  width: 100%;
}

.custom-validator {
  display: none;
  padding: 6px;
  background-color: #c0392b;
  color: white;
  font-size: 13.5px;
}

.custom-show {
  display: block;
}
